.brands-container {
    height: 1386px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.podcast-container {
    width: 1280px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.podcast-container span {
    font-size: 24px;
    font-weight: bold;
}

.podcast-container button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.ilustration {
    height: 1136px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.maker {
    width: 100%;
    height: 496px;
    display: flex;
    justify-content: flex-end;
}

.maker-container {
    background-color: #503AE7;
    width: 1303px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 167px;
}

.maker-content {
    width: 593px;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #FFF;
}

.separator {
    width: 513px;
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.line-container {
    height: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.line-header-first {
    width: 20px;
    height: 100%;
    background-color: #832BC1;
    margin-left: 78px;
}
.line-header-second {
    width: 58px;
    height: 100%;
    background-color: #832BC1;
}

.line-footer-first {
    width: 58px;
    height: 100%;
    background-color: #1AD993;
}

.separator-content {
    background-color: #fff;
    width: 411px;
    height: 176px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.separator-content span {
    font-size: 32px;
    font-weight: bold;
}
.separator-content p {
    font-size: 17px;
    line-height: 25px;
    color: #14142B;
}

.origin {
    background-color: #fff;
    width: 100%;
    height: 512px;
    display: flex;
    justify-content: flex-start;
}

.origin-container {
    width: 1252px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.separator-origin {
    width: 415px;
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}