.wrapper-pod {
    font-size: 25px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: slideY 2s;
}

@keyframes slideY{
    from{
        transform: translateX(90px)
    }
    to {
        transform: translateX(0px)
    }
}